:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bar {
  background-color: lightgreen;
  height: 100%;
  width: 0%;
  position: relative;
}

.bar-container {
  width: 100px;
  border: 1px solid black;
  border-radius: 15px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;

  &:hover {
    .bar {
      background-color: green !important;
    }
  }
}

.cheems-doge-img {
  filter: contrast(0.7);
  width: auto;
  height: 40px;
}

.chad-doge-img {
  width: auto;
  height: 56px;
  filter: contrast(1.3);
}
