:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: auto;
  height: 48px;
}

.bar {
  background-color: yellow;
  height: 100%;
  width: 0%;
  position: relative;
  z-index: 100;
}

.bar-container {
  width: 100px;
  border: 1px solid black;
  height: 30px;
}
