<div *ngIf="data" class="opinion-container">
  <div class="opinion-container__header">
    <div class="profile-photo">
      <img [src]="data.img" />
    </div>
    <div class="opinion-container__header-details">
      <p>
        {{ prefix + "name" | translate }} {{ prefix + "surname" | translate }}
      </p>
      <p>{{ prefix + "company" | translate }}</p>
      <div>
        @for(star of starsArray; track star) {
        <i
          [ngClass]="{
            'fa-solid': star === 'full' || star === 'half',
            'fa-regular': star == 'empty',
            'fa-star': star === 'full' || star === 'empty',
            'fa-star-half-stroke': star === 'half'
          }"
        ></i>
        }
      </div>
    </div>
  </div>
  <div class="opinion-container__content">
    {{ prefix + "opinion" | translate }}
  </div>
</div>
